  <div class="jumbotron center">
    <h1>Welcome to MyCocktails App</h1>

    <h2>
      Create, share and enjoy
    </h2>

    <%= link_to "Sign up", "", class: "btn btn-lg btn-success" %>
  </div>


  <div class="row">
    <div class="col-lg-4">
      <h3 class="midrow">
        View Cocktails as Guest
      </h3>
      <h2 class="left">
        Browse and view Cocktail Recipes as Guest
      </h2>
      <p><%= link_to "Browse cocktails", "", class: "btn btn-warning btn-small home-links" %></p>
    </div>

    <div class="col-lg-4">
      <h3 class="midrow">
        View Cocktails as Guest
      </h3>
      <h2 class="left">
        Browse and view Cocktail Recipes as Guest
      </h2>
      <p><%= link_to "Browse cocktails", "", class: "btn btn-warning btn-small home-links" %></p>
    </div>

    <div class="col-lg-4">
      <h3 class="midrow">
        View Cocktails as Guest
      </h3>
      <h2 class="left">
        Browse and view Cocktail Recipes as Guest
      </h2>
      <p><%= link_to "Browse cocktails", "", class: "btn btn-warning btn-small home-links" %></p>
    </div>

  </div>

  <section class="about">
    <div class="container">
      <h2>About us</h2>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li class= "about-list">  Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            <li class= "about-list">  Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            <li class= "about-list">  Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            <li class= "about-list">  Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
            <li class= "about-list">  Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img class="about-img" src="/assets/me.JPG">
        </div>
      </div>
    </div>
  </section>
